{% extends "base.html" %}
{% block title %}
    Reset your passowrd
{% endblock title %}
{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p>
                <input type="submit" value="Change my password">
            </p>
        </form>
    {% else %}
        <p>
            The password reset link wa invalid, possibly because it has already been used. please request a new passowrd rest.
        </p>
    {% endif %}
{% endblock content %}
